body {
    background-color: purple;
    align-items: center;
}


.resultBar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    background-color: #fff;
    padding: 1.875rem;
    margin: 2.875rem;
    border-radius: 12px;
}